# DOJO CargoX - Data Science

## O que deverá ser feito? 

Esse desafio consiste em um _dataset_ que nós gostariamos que você estudasse e propusesse um modelo preditivo.

### Objetivos

* Analisar os dados, apresentar o que foi encontrado e decisões tomadas e,
* Construir um modelo preditivo em cima dos dados do desafio

Vale ressaltar que **não existe resposta certa** para o desafio, e que o
trabalho e o processo para realizar esses dois objetivos são tão importantes
quanto o resultado final.

---

# A Seguradora Thomas Andrews

Você trabalha para a Seguradora Thomas Andrews, responsável por segurar os
passageiros dos [três Transatlânticos da Classe
_Olympic_](https://en.wikipedia.org/wiki/Olympic-class_ocean_liner) da companhia
inglesa [White Star Line](https://en.wikipedia.org/wiki/White_Star_Line).

Infelizmente, a segunda embarcação da White Star Line, o [RMS
Titanic](https://en.wikipedia.org/wiki/RMS_Titanic) afundou em sua viagem
inaugural. Muitos passageiros faleceram pela falta de botes salva-vidas
suficientes na embarcação, levando a um enorme prejuízo para a Thomas Andrews.

## Seria possível evitar tragédias? 

Para evitar futuras tragédias -financeiras para a empresa, no caso- a Diretoria
da Thomas Andrews está pedindo um modelo para tentar prever quais passageiros
podem vir a falecer nas próximas viagens, para cobrar um _premium_ sobre seu
seguro, ou até impedir eles de embarcar!

Para isso, a seguradora está disponibilizando dois arquivos com dados do
Titanic para seu trabalho:

* passageiros que a companhia sabe se sobreviveram ou não (`train.csv`),
* passageiros que a companhia tem dados, mas desconhece o destino (`test.csv`)

Existe mais um arquivo em anexo, o `variables.txt` que descreve os campos que
você encontra nas duas listagens de passageiros.

A partir dessas informações, a Diretoria espera que você entenda o dados
coletados e modele algo que possa ajudar a companhia previnir futuras perdas!

## Próxima reunião da Diretoria

É esperado que você apresente seus resultados na próxima reunião da Diretoria da
Thomas Andrews. A apresentação não é formal, mas você precisa mostrar seu
progresso e suas decisões ao longo do caminho.

Boa sorte e até a próxima reunião!

---
## Variáveis
survived:
  * se o passageiro sobreviveu ou não
  * valores possíveis:
    0 = Não
    1 = Sim

pclass:
  * classe da Passagem no navio
  * valores possíveis:
    1 = primeira classe,
    2 = classe executiva,
    3 = classe economica

sex:
  * o genero do passageiro

Age:
  * idade em anos

sibsp
  * numero de irmaos/companheiros dentro do navio

parch:
  * numero de parentes e filhos no navio

ticket:
  * codigo da passagem

fare:
  * valor da passagem

cabin:
  * número da cabine

embarked:
  * local onde embarcou no Titanic
  * possiveis valores: 
    C = Cherbourg,
    Q = Queenstown,
    S = Southampton

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from os import path

In [2]:
df_train = pd.read_csv("train.csv")
df_train

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",women,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female_,35.0,1,0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3.0,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1.0,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3.0,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",woman,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",Female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3.0,"Sandstrom, Miss. Marguerite Rut",Female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1.0,"Bonnell, Miss. Elizabeth",women,58.0,0,0,113783,26.5500,C103,S
12,13,0,3.0,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3.0,"Andersson, Mr. Anders Johan",man,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",Female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3.0,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2.0,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3.0,"Masselmani, Mrs. Fatima",woman,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2.0,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2.0,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3.0,"McGowan, Miss. Anna ""Annie""",Female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1.0,"Sloper, Mr. William Thompson",mal,28.0,0,0,113788,35.5000,A6,S
24,25,0,3.0,"Palsson, Miss. Torborg Danira",Female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1.0,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",woman,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3.0,"Todoroff, Mr. Lalio",mal,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
906,854,1,1.0,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
907,622,1,1.0,"Kimball, Mr. Edwin Nelson Jr",man,42.0,1,0,11753,52.5542,D19,S
908,654,1,3.0,"O'Leary, Miss. Hanora ""Norah""",female_,NaN,0,0,330919,7.8292,NaN,Q
909,887,0,2.0,"Montvila, Rev. Juozas",Male,27.0,0,0,211536,13.0000,NaN,S
910,111,0,1.0,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
911,295,0,3.0,"Mineff, Mr. Ivan",man,24.0,0,0,349233,7.8958,NaN,S
912,448,1,1.0,"Seward, Mr. Frederic Kimber",male,34.0,0,0,113794,26.5500,NaN,S
913,193,1,3.0,"Andersen-Jensen, Miss. Carla Christine Nielsine",female_,19.0,1,0,350046,7.8542,NaN,S
914,683,0,3.0,"Olsvigen, Mr. Thor Anderson",man,20.0,0,0,6563,9.2250,NaN,S
915,539,0,3.0,"Risien, Mr. Samuel Beard",mal,NaN,0,0,364498,14.5000,NaN,S
916,820,0,3.0,"Skoog, Master. Karl Thorsten",man,10.0,3,2,347088,27.9000,NaN,S
917,31,0,1.0,"Uruchurtu, Don. Manuel E",man,40.0,0,0,PC 17601,27.7208,NaN,C
918,674,1,2.0,"Wilhelms, Mr. Charles",mal,31.0,0,0,244270,13.0000,NaN,S
919,64,0,3.0,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
920,397,0,3.0,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,NaN,S
921,878,0,3.0,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
922,142,1,3.0,"Nysten, Miss. Anna Sofia",women,22.0,0,0,347081,7.7500,NaN,S
923,794,0,1.0,"Hoyt, Mr. William Fisher",Male,NaN,0,0,PC 17600,30.6958,NaN,C
924,236,0,3.0,"Harknett, Miss. Alice Phoebe",Female,NaN,0,0,W./C. 6609,7.5500,NaN,S
925,205,1,3.0,"Cohen, Mr. Gurshon ""Gus""",mal,18.0,0,0,A/5 3540,8.0500,NaN,S
926,621,0,3.0,"Yasbeck, Mr. Antoni",mal,27.0,1,0,2659,14.4542,NaN,C
927,24,1,1.0,"Sloper, Mr. William Thompson",mal,28.0,0,0,113788,35.5000,A6,S
928,199,1,3.0,"Madigan, Miss. Margaret ""Maggie""",woman,NaN,0,0,370370,7.7500,NaN,Q
929,843,1,1.0,"Serepeca, Miss. Augusta",woman,30.0,0,0,113798,31.0000,NaN,C
930,740,0,3.0,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
931,121,0,2.0,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
932,478,0,3.0,"Braund, Mr. Lewis Richard",man,29.0,1,0,3460,7.0458,NaN,S
933,838,0,3.0,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S
934,791,0,3.0,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,NaN,Q
935,363,0,3.0,"Barbara, Mrs. (Catherine David)",Female,45.0,0,1,2691,14.4542,NaN,C

In [3]:
df_test = pd.read_csv("test.csv")
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [4]:
df_train.sex.isna().sum()

46

In [5]:
size_train = df_train.shape[0]
print(size_train)
size_test = df_test.shape[0]
print(size_test)

936
418

In [6]:
df_train.sex.unique()

array(['male', 'Female ', 'women', 'female_', 'male ', 'woman', ' male',
       'man', 'female', 'mal', nan, 'Male', ' female  '], dtype=object)

In [7]:
dict_sex = {'male': 'male',
            'male ': 'male',
            ' male': 'male',
            'man': 'male',
            'mal': 'male',
            'Male': 'male',
            'Female': 'female',
            'women': 'female',
            'female_': 'female',
            'woman': 'female',
            'female': 'female',
            ' female  ': 'female'}

In [8]:
df_train.sex = df_train.sex.map(dict_sex)

In [9]:
df_train

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",NaN,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3.0,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1.0,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3.0,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",NaN,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3.0,"Sandstrom, Miss. Marguerite Rut",NaN,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3.0,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3.0,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",NaN,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3.0,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2.0,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3.0,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2.0,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2.0,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3.0,"McGowan, Miss. Anna ""Annie""",NaN,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1.0,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3.0,"Palsson, Miss. Torborg Danira",NaN,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1.0,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3.0,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
906,854,1,1.0,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
907,622,1,1.0,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S
908,654,1,3.0,"O'Leary, Miss. Hanora ""Norah""",female,NaN,0,0,330919,7.8292,NaN,Q
909,887,0,2.0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
910,111,0,1.0,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
911,295,0,3.0,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.8958,NaN,S
912,448,1,1.0,"Seward, Mr. Frederic Kimber",male,34.0,0,0,113794,26.5500,NaN,S
913,193,1,3.0,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S
914,683,0,3.0,"Olsvigen, Mr. Thor Anderson",male,20.0,0,0,6563,9.2250,NaN,S
915,539,0,3.0,"Risien, Mr. Samuel Beard",male,NaN,0,0,364498,14.5000,NaN,S
916,820,0,3.0,"Skoog, Master. Karl Thorsten",male,10.0,3,2,347088,27.9000,NaN,S
917,31,0,1.0,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
918,674,1,2.0,"Wilhelms, Mr. Charles",male,31.0,0,0,244270,13.0000,NaN,S
919,64,0,3.0,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
920,397,0,3.0,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,NaN,S
921,878,0,3.0,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
922,142,1,3.0,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S
923,794,0,1.0,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C
924,236,0,3.0,"Harknett, Miss. Alice Phoebe",NaN,NaN,0,0,W./C. 6609,7.5500,NaN,S
925,205,1,3.0,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.0500,NaN,S
926,621,0,3.0,"Yasbeck, Mr. Antoni",male,27.0,1,0,2659,14.4542,NaN,C
927,24,1,1.0,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
928,199,1,3.0,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
929,843,1,1.0,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C
930,740,0,3.0,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
931,121,0,2.0,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
932,478,0,3.0,"Braund, Mr. Lewis Richard",male,29.0,1,0,3460,7.0458,NaN,S
933,838,0,3.0,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S
934,791,0,3.0,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,NaN,Q
935,363,0,3.0,"Barbara, Mrs. (Catherine David)",NaN,45.0,0,1,2691,14.4542,NaN,C

In [10]:
df_train.sex.unique()

array(['male', nan, 'female'], dtype=object)

In [12]:
df_train.name[df_train.sex == np.nan]

Series([], Name: name, dtype: object)

In [13]:
df_train.name[df_train.sex.isnull()]

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
14                  Vestrom, Miss. Hulda Amanda Adolfina
22                           McGowan, Miss. Anna "Annie"
24                         Palsson, Miss. Torborg Danira
31        Spencer, Mrs. William Augustus (Marie Eugenie)
33                                 Wheadon, Mr. Edward H
39                           Nicola-Yarred, Miss. Jamila
56                                     Rugg, Miss. Emily
61                                   Icard, Miss. Amelie
67                              Crease, Mr. Ernest James
81                           Sheerlinck, Mr. Jan Baptist
111                                 Zabour, Miss. Hileni
119                    Andersson, Miss. Ellis Anna Maria
186      O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
190                                  Pinsky, Mrs. (Rosa)
215                              Newell, Miss. Madeleine
233                       Asplund, Miss. Lillian Gertrud
235                         Harknett, Miss. Alice Phoebe
247                      Hamalainen, Mrs. William (Anna)
255              Touma, Mrs. Darwis (Hanne Youssef Razi)
259                          Parrish, Mrs. (Lutie Davis)
265                                    Reeves, Mr. David
276                    Lindblom, Miss. Augusta Charlotta
279                     Abbott, Mrs. Stanton (Rosa Hunt)
328       Goldsmith, Mrs. Frank John (Emily Alice Brown)
362                      Barbara, Mrs. (Catherine David)
393                               Newell, Miss. Marjorie
407                       Richards, Master. William Rowe
                             ...
691                                   Karun, Miss. Manca
706                        Kelly, Mrs. Florence "Fannie"
709    Moubarek, Master. Halim Gonios ("William George")
717                  Troutt, Miss. Edwina Celia "Winnie"
726          Renouf, Mrs. Peter Henry (Lillian Jefferys)
729                        Ilmakangas, Miss. Pieta Sofia
750                                    Wells, Miss. Joan
752                     Vande Velde, Mr. Johannes Joseph
759    Rothes, the Countess. of (Lucy Noel Martha Dye...
765                 Hogeboom, Mrs. John C (Anna Andrews)
796                          Leader, Dr. Alice (Farnham)
799    Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...
800                                 Ponesell, Mr. Martin
807                      Pettersson, Miss. Ellen Natalia
813                   Andersson, Miss. Ebba Iris Alfrida
820    Hays, Mrs. Charles Melville (Clara Jennings Gr...
827                                Mallet, Master. Andre
830              Yasbeck, Mrs. Antoni (Selini Alexander)
835                          Compton, Miss. Sara Rebecca
841                             Mudd, Mr. Thomas Charles
847                                   Markoff, Mr. Marin
857                               Daly, Mr. Peter Denis
868                          van Melkebeke, Mr. Philemon
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
884                               Sutehall, Mr. Henry Jr
889                                Behr, Mr. Karl Howell
891    Moubarek, Master. Halim Gonios ("William George")
895                          Nicola-Yarred, Miss. Jamila
924                         Harknett, Miss. Alice Phoebe
935                      Barbara, Mrs. (Catherine David)
Name: name, Length: 94, dtype: object

In [14]:
df_train[df_train.survived == 1].groupby(['pclass']).count()

,passengerid,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
pclass,,,,,,,,,,,
1.0,142,142,142,127,128,142,142,142,142,120,140
2.0,88,88,88,69,84,88,88,88,88,13,88
3.0,128,128,128,111,90,128,128,128,128,6,128

In [15]:
df_train.groupby(['pclass']).count()

,passengerid,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
pclass,,,,,,,,,,,
1.0,224,224,224,206,193,224,224,224,224,180,222
2.0,187,187,187,163,176,187,187,187,187,16,187
3.0,516,516,516,467,370,516,516,516,516,12,516

In [16]:
sobreviventes = df_train[df_train.survived == 1].groupby(['pclass']).count().survived
total = df_train.groupby(['pclass']).count().survived
resul = sobreviventes/total
print(resul)

pclass
1.0    0.633929
2.0    0.470588
3.0    0.248062
Name: survived, dtype: float64

In [17]:
df_train

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",NaN,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3.0,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1.0,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3.0,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",NaN,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3.0,"Sandstrom, Miss. Marguerite Rut",NaN,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3.0,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3.0,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",NaN,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3.0,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2.0,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3.0,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2.0,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2.0,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3.0,"McGowan, Miss. Anna ""Annie""",NaN,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1.0,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3.0,"Palsson, Miss. Torborg Danira",NaN,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3.0,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1.0,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3.0,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
906,854,1,1.0,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
907,622,1,1.0,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S
908,654,1,3.0,"O'Leary, Miss. Hanora ""Norah""",female,NaN,0,0,330919,7.8292,NaN,Q
909,887,0,2.0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
910,111,0,1.0,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
911,295,0,3.0,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.8958,NaN,S
912,448,1,1.0,"Seward, Mr. Frederic Kimber",male,34.0,0,0,113794,26.5500,NaN,S
913,193,1,3.0,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,NaN,S
914,683,0,3.0,"Olsvigen, Mr. Thor Anderson",male,20.0,0,0,6563,9.2250,NaN,S
915,539,0,3.0,"Risien, Mr. Samuel Beard",male,NaN,0,0,364498,14.5000,NaN,S
916,820,0,3.0,"Skoog, Master. Karl Thorsten",male,10.0,3,2,347088,27.9000,NaN,S
917,31,0,1.0,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
918,674,1,2.0,"Wilhelms, Mr. Charles",male,31.0,0,0,244270,13.0000,NaN,S
919,64,0,3.0,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
920,397,0,3.0,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,NaN,S
921,878,0,3.0,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
922,142,1,3.0,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S
923,794,0,1.0,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C
924,236,0,3.0,"Harknett, Miss. Alice Phoebe",NaN,NaN,0,0,W./C. 6609,7.5500,NaN,S
925,205,1,3.0,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.0500,NaN,S
926,621,0,3.0,"Yasbeck, Mr. Antoni",male,27.0,1,0,2659,14.4542,NaN,C
927,24,1,1.0,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
928,199,1,3.0,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
929,843,1,1.0,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C
930,740,0,3.0,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
931,121,0,2.0,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
932,478,0,3.0,"Braund, Mr. Lewis Richard",male,29.0,1,0,3460,7.0458,NaN,S
933,838,0,3.0,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S
934,791,0,3.0,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,NaN,Q
935,363,0,3.0,"Barbara, Mrs. (Catherine David)",NaN,45.0,0,1,2691,14.4542,NaN,C

In [18]:
sobreviventes = df_train[df_train.survived == 1].groupby(['sex']).count().survived
total = df_train.groupby(['sex']).count().survived
resul = sobreviventes/total
print(resul)

sex
female    0.756554
male      0.184348
Name: survived, dtype: float64

In [19]:
sobreviventes = df_train[df_train.survived == 1].groupby(['sex','pclass']).count().survived
total = df_train.groupby(['sex', 'pclass']).count().survived
resul = sobreviventes/total
print(resul)

sex     pclass
female  1.0       0.965116
        2.0       0.898305
        3.0       0.537190
male    1.0       0.366667
        2.0       0.153846
        3.0       0.132948
Name: survived, dtype: float64

In [20]:
print(df_train.age.unique().sort())

None

In [21]:
np.sort(df_train.age.unique())

array([   0.42,    0.67,    0.75,    0.83,    0.92,    1.  ,    2.  ,
          3.  ,    4.  ,    5.  ,    6.  ,    7.  ,    8.  ,    9.  ,
         10.  ,   11.  ,   12.  ,   13.  ,   14.  ,   14.5 ,   15.  ,
         16.  ,   17.  ,   18.  ,   19.  ,   20.  ,   20.5 ,   21.  ,
         22.  ,   23.  ,   23.5 ,   24.  ,   24.5 ,   25.  ,   26.  ,
         27.  ,   28.  ,   28.5 ,   29.  ,   30.  ,   30.5 ,   31.  ,
         32.  ,   32.5 ,   33.  ,   34.  ,   34.5 ,   35.  ,   36.  ,
         36.5 ,   37.  ,   38.  ,   39.  ,   40.  ,   40.5 ,   41.  ,
         42.  ,   43.  ,   44.  ,   45.  ,   45.5 ,   46.  ,   47.  ,
         48.  ,   49.  ,   50.  ,   51.  ,   52.  ,   53.  ,   54.  ,
         55.  ,   56.  ,   57.  ,   58.  ,   59.  ,   60.  ,   61.  ,
         62.  ,   63.  ,   64.  ,   65.  ,   70.  ,   70.5 ,   71.  ,
         74.  ,   80.  ,  117.  ,  194.  ,     nan])

In [22]:
df_train.age.mean()

29.777633689839568

In [23]:
np.sort(df_train.age.replace([117., 194.], np.nan).unique())

array([  0.42,   0.67,   0.75,   0.83,   0.92,   1.  ,   2.  ,   3.  ,
         4.  ,   5.  ,   6.  ,   7.  ,   8.  ,   9.  ,  10.  ,  11.  ,
        12.  ,  13.  ,  14.  ,  14.5 ,  15.  ,  16.  ,  17.  ,  18.  ,
        19.  ,  20.  ,  20.5 ,  21.  ,  22.  ,  23.  ,  23.5 ,  24.  ,
        24.5 ,  25.  ,  26.  ,  27.  ,  28.  ,  28.5 ,  29.  ,  30.  ,
        30.5 ,  31.  ,  32.  ,  32.5 ,  33.  ,  34.  ,  34.5 ,  35.  ,
        36.  ,  36.5 ,  37.  ,  38.  ,  39.  ,  40.  ,  40.5 ,  41.  ,
        42.  ,  43.  ,  44.  ,  45.  ,  45.5 ,  46.  ,  47.  ,  48.  ,
        49.  ,  50.  ,  51.  ,  52.  ,  53.  ,  54.  ,  55.  ,  56.  ,
        57.  ,  58.  ,  59.  ,  60.  ,  61.  ,  62.  ,  63.  ,  64.  ,
        65.  ,  70.  ,  70.5 ,  71.  ,  74.  ,  80.  ,    nan])

In [24]:
df_train.age = df_train.age.replace([117., 194.], np.nan)

In [25]:
df_train.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",NaN,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
df_train.age_group = np.nan